<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/faculty.css' %}">
    <title>Document</title>
</head>
<body>
    <blockquote class="block">
        <div class="box">
            <h1><u>Choose faculty  </u></h1>
        </div>

        <div class="faculties">
            <p><h2>Faculties:</h2></p>
        </div>

        <div class="options">
            <button class="bca">BCA </button><br>

            <br>
            <button class="bit">BIT </button>
        </div>

        <br>
        <div class="column">
            <div class="enter">
                <input type="text" class="field" id="field" placeholder="ENTER FACULTY....">

                <button class="addfaculty">ADD FACULTY</button>

            </div> 
        </div>


    </blockquote>
</body>
</html>