<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    
    <title>Document</title>
</head>
<body>

    <blockquote>
        <div class="box">

            <div class="wel">
                <h2>Welcome To Fee Management System</h2>
            </div>
            
            <div class="form">

                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <label for="email">Email:</label><br>
                    <input type="text" class="email" name="email" id="email" placeholder="Enter your email...."><br>

                    <label for="password">Password:</label><br>
                    <input type="text" class="password" name="password" id="password" placeholder="Enter your password"><br>
                    <br>
                    
                    <div class="button">
                        <button type="submit">Login</button>
                    </div>
                    <br>

                    <div class="create">
                        <button><a href="{% url 'register' %}" class="link">Create Account</a></button>
                        
                    </div>
                    <br>
                    <div class="forget">
                        <a href="">Forget password?</a>
                    </div>
                    <br>


                </form>

            </div>
            
        </div>
    </blockquote>

</body>
</html>



